:root {
	--color-line: #aaa39d;
	--line-height: 1px;
	--line-separation: 1px;
	--margin-size: 1.5em;
}

/**
 * Centered text with line from start to text and from text to end
 * similar to: ----- TEXT -----
 **/
.cl-line-centered {
	display: flex;
	width: 100%;
	padding-inline: 0;
	align-items: center;
	text-align: center;
}

.cl-line-centered::before,
.cl-line-centered::after {
	content: '';
	flex: 1;
	border-bottom: var(--line-height) solid var(--color-line);
}

.cl-line-centered::before {
	margin-right: var(--margin-size);
}

.cl-line-centered::after {
	margin-left: var(--margin-size);
}

/**
 * Centered text with 2 lines from start to text and from text to end
 * similar to: ===== TEXT =====
 **/
 .cl-line-centered-double {
	display: flex;
	width: 100%;
	padding-inline: 0;
	align-items: center;
	text-align: center;
}

.cl-line-centered-double::before,
.cl-line-centered-double::after {
	content: '';
	flex: 1;
	border-top: var(--line-height) solid var(--color-line);
	border-bottom: var(--line-height) solid var(--color-line);
	padding-block: var(--line-separation);
}

.cl-line-centered-double::before {
	margin-right: var(--margin-size);
}

.cl-line-centered-double::after {
	margin-left: var(--margin-size);
}

/**
 * Left text with line from text to end
 * similar to: TEXT -----
 **/
.cl-line-2-right {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.cl-line-2-right::after {
	content: '';
	flex-grow: 1;
	height: var(--line-height);
	background: var(--color-line);
	margin-left: var(--margin-size);
}

/**
 * Right text with line from start to text
 * similar to: ----- TEXT
 **/
 .cl-line-from-left {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.cl-line-from-left::before {
	content: '';
	flex-grow: 1;
	height: var(--line-height);
	background: var(--color-line);
	margin-right: var(--margin-size);
}