:root {
	--color-line: #aaa39d;
	--line-height: 1px;
	--margin-size: 1.5em;
}

/**
 * Centered text with line from start to text and from text to end
 * like ----- TEXT -----
 **/
.cl-line-centered {
	display: flex;
	width: 100%;
	padding-inline: 0;
	align-items: center;
	text-align: center;
}

.cl-line-centered::before,
.cl-line-centered::after {
	content: '';
	flex: 1;
	border-bottom: var(--line-height) solid var(--color-line);
}

.cl-line-centered::before {
	margin-right: var(--margin-size);
}

.cl-line-centered::after {
	margin-left: var(--margin-size);
}
